.cursorFollower {
    position: absolute;
    width: 28px; /* Size of the circle */
    height: 28px; /* Size of the circle */
    background-color: rgba(231, 54, 6, 0.4); /* Color of the circle */
    border-radius: 50%; /* Make it a circle */
    transition: transform 0.2s ease-out; /* Smooth transition effect */
    pointer-events: none;
    z-index: 1000;
  }
  